// common Colors
//Header
$hoverBg : rgba(0, 0, 0, 0.5);

// footer colors
$footerBg : #222222;
// main colors
$lightBlueColor : #40C4FF;
$lightBlueColorHover : rgba(64, 196, 255, 0.4);
$lightGray : #0707071A;
$miniNavBg : #F2F8FC;
$circleBg : #9CE0FF;